<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--post method-->
<!--<form action="http://127.0.0.1:5000/login" method="post">-->
<!--  <tr>-->
<!--    <td>Name</td>-->
<!--    <td><input type="text" name="uname"></td>-->
<!--  </tr><br><br>-->
<!--  <tr>-->
<!--    <td>Password</td>-->
<!--    <td><input type="password" name="pass"></td>-->
<!--  </tr><br><br>-->
<!--  <tr>-->
<!--    <td><input type="submit"></td>-->
<!--  </tr>-->
<!--</form>-->
<!--get method-->
<form action="http://127.0.0.1:5000/login" method="get">
  <tr>
    <td>Name</td>
    <td><input type="text" name="uname"></td>
  </tr><br><br>
  <tr>
    <td>Password</td>
    <td><input type="password" name="pass"></td>
  </tr><br><br>
  <tr>
    <td><input type="submit"></td>
  </tr>
</form>
</body>
</html>